<div class="jumbotron jumbo1" style="margin-bottom:0px;">
  <h1 class="resturant-title" align="center">
   <strong>Kim's Resturant</strong> 
  </h1>
  <div align="center">
    <h3><strong>Driving Haitian Food Excellence</strong></h3>
    <button class="btn btn-primary btn-lg">View Our Menu</button>
  </div>
  <div class="row jumbo1detail" style="margin-top:40px">
    <div class="col-md-2 col-md-offset-1">
      <p>Food Prepared At Excellent Quality</p>
      <p>Plethora Of Different Foods</p>
    </div>
    <div class="col-md-2 col-md-offset-2">
      <p>Catering For All Your Events</p>
      <p>Excellent Customer Experince</p>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <p>Enjoy Soothing Music While Dining In</p>
      <p>Caters To All Kinds of Diets</p>
    </div>
  </div>
</div>
<div class="jumbotron jumbo2" style="margin-bottom:0px">
  
</div>

<div class="jumbotron jumbo3" style="margin-bottom:0px">
  
</div>