<div class="row" align="center">
  <h1 class="resturant-title" align="center">
    Kim's Resturant
  </h1>
  <%= image_tag 'resturant', class:"resturant-img" %>
    <div class="address" align="center">
      <ul>
        <strong>
        <li>100 Vandalia Avenue</li>
        <li>Brooklyn, NY 11239</li>
        <li>United States</li>
        <li>Can be reached at: (555)-555-555</li>
        </strong>
      </ul>
    </div>
</div>
