@import "bootstrap-sprockets";
@import "bootstrap";
$primary-cl: #4169e1;
$secondary-cl: #FFD700;

body {
  color:$primary-cl;
}

nav {
   height: 100px;
   width: 100%;
   padding:0px;
   background-color: #fff;
   z-index: 100;
}

.navigation {
  list-style:none;
  color: $primary-cl;
  font-size:1.7em;
  
  li {
    padding: 5px;
    display: inline;
  }
  
  a {
    color: $primary-cl;
  }
  
  a:hover {
    text-decoration: none;
    color: $secondary-cl;
  }
  
  .right {
    float:right;
    padding-top: 50px;
  }
  
  .left {
    display:inline;
  }
  
  img {
    width: 14%;
    height:100px;
  }
}

 // MENU NAV

.menu-nav {
  .menu-navigation {
    list-style:none;
    font-size: 1.9em;
    background-color: $secondary-cl;
    height:45px;
  }
  
  li {
    display:inline;
    padding-left: 150px;
  }
  
  a {
    color:$primary-cl;
  }
  
  a:hover {
    opacity: 0.6;
    text-decoration:none;
    background-color: $secondary-cl;
  }
  
}

.jumbo1 {
  background-image: asset_url('logo.jpeg');
  background-size: cover;
  height: 530px;
  color: $secondary-cl;
  
  p {
    letter-spacing: -0.25px;
    font-weight: 600;
    padding-top: 10px;
  }
}
.resturant-title {
  font-weight: 800;
  text-transform: uppercase;
  color: $secondary-cl !important;
  letter-spacing: 0.35px;
}

.jumbo2 {
  background-image: asset_url("island");
  background-size: cover;
  height:530px;
}

.jumbo3 {
  background-image: asset_url("carnival");
  background-size: cover;
  height: 530px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: $secondary-cl !important;
    /*background: rgba(0, 0, 0, 0.5) !important;*/
    border-radius:10px;
    color:$primary-cl !important;
}

.btn-primary:hover {
 opacity: 0.7;
}

.menu-food-img {
  height: 350px;
  width: 92%;
  margin-left: 10px;
}

.food-img-container {
  position:relative;
  
  .description {
    position: absolute;
    //bottom: 60px;
    //  right: 200px;     background-color: black;
    //     color: white;
    font-size: 16px;
    font-weight: 900;
    letter-spacing:0.3px;
    font-size: 16px;
    filter: brightness(200%);
    color: $primary-cl;
    // padding-left: 20px;
    //   padding-right: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .price {
    position: absolute;
    //bottom: 60px;
    //  right: 200px;     background-color: black;
    //     color: white;
   // font-size: 16px;
    font-weight: 900;
    letter-spacing:0.3px;
    font-size: 16px;
    filter: brightness(200%);
    color: $primary-cl;
    // padding-left: 20px;
    //   padding-right: 20px;
    top: 90%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  
}

#food-container {
  background-color: $secondary-cl;
}

.resturant-img {
  width: 75%;
  height:500px;
}

.address {
  ul {
    list-style:none;
    font-size:14px;
    display:inline;
  }
}

.inline {
  display:inline;
}
  




/* MEDIA QUERIES */

@media screen and (max-width: 500px) { 
  li {
    display: block !important;
  }
  
  nav {
    height: 360px;
  }
  
  .right {
    float: none !important;
    padding-top: 20px !important;
  }
  
  .left > img {
    width: 35% !important;
  }

}

@media screen and (max-width: 720px) { 
  .left > img {
    width: 20% !important;
  }
  
}
  

